<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <!-- APP-VUE -->
    <div id="app">
        <!-- MAIN-CONTAINER -->
        <section class="container">
            <div class="row">
                <!-- LEFT-COL -->
                <section class="col col-left">
                    <!-- ACCOUNT-HEADER -->
                    <div class="account">
                        <div class="user">
                            <div class="circle circle-small">
                                <img src="img/avatar_io.jpg" alt="">
                            </div>
                            <span>Sofia</span>
                        </div>
                        <div class="action">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <!-- /ACCOUNT-HEADER -->
                    <div class="info">
                        <!-- NOTIFICATIONS -->
                        <div class="notif">
                            <div class="circle circle-small">
                                <i class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div class="text-container">
                                <div>Ricevi notifiche di nuovi messaggi</div>
                                <a href="#">Attiva notifiche desktop</a>
                            </div>
                        </div>
                        <!-- /NOTIFICATIONS -->
                        <!-- SEARCH-BAR -->
                        <div class="search">
                            <button @click="filterChat" type="button"><i class="fa-solid fa-search"></i></button>
                            <input type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchChat" @keyup.enter="filterChat">
                        </div>
                        <!-- /SEARCH-BAR -->
                        <!-- CHAT-CONTAINER -->
                        <div class="chat-container">
                            <div class="chat" v-for="contact, index in contacts" v-show="contact.visible" 
                                :class="{'active': index == activeChat}" @click="activeChat = index">
                                <div class="circle circle-big">
                                    <img :src="'img/avatar' + contact.avatar + '.jpg'" alt="">
                                </div>
                                <div class="text-container">
                                    <div>{{contact.name}}</div>
                                </div>
                            </div>
                        </div>
                        <!-- /CHAT-CONTAINER -->
                    </div>
                </section>
                <!-- LEFT-COL -->
                <!-- RIGHT-COL -->
                <div class="col col-right">
                    <div class="account">
                        <div class="chat-user">
                            <div class="circle circle-small">
                                <img :src="'img/avatar' + contacts[activeChat].avatar + '.jpg'" alt="">
                            </div>
                            <div class="text-container">
                                <div>{{contacts[activeChat].name}}</div>
                                <small>Online</small>
                            </div>
                        </div>
                        <div class="action">
                            <i class="fa-solid fa-search"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="info">
                        <div class="message-container">
                            <div class="message" v-for="message, index in contacts[activeChat].messages"
                            :class="{'sent': message.status === 'sent', 'received': message.status === 'received' }">
                                    <p>{{message.message}}</p>
                                    <small class="time">{{message.date}}</small>
                                    <div class="dropdown">
                                        <button class="drop-btn"><i class="fa-solid fa-chevron-down"></i></button>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item">Info</li>
                                            <li class="dropdown-item" @click="deleteMessage(index)">Cancella</li>
                                        </ul>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="app-footer">
                        <div class="action"><i class="fa-regular fa-face-smile"></i></div>
                        <input type="text" placeholder="Scrivi un messaggio" @keyup.enter="addNewChat" v-model="newChat">
                        <div class="action"><i class="fa-solid fa-microphone"></i></div>
                    </div>
                </div>
                <!-- /RIGHT-COL -->
            </div>
        </section>
        <!-- /MAIN-CONTAINER -->
    </div>
    <!-- /APP-VUE -->
    <script src="js/script.js"></script>
</body>
</html>